img{
    width: 600px;
    height: 500px;
}
.cards{
gap: 50px;
padding-left: 270px;
}
.left{
    top: 0;
    left: 0;
    width: 50%;
    height: 50vh;
    position: absolute;
    background-color: transparent;
    
}
.right{
    top: 0;
    right: 0;
    width: 50%;
    height: 50vh;
    position: absolute;
    background-color: transparent;
   
    
}
@media (max-width:768px){
    .cards{
        gap: 10px;
        padding-left:0;
        }
    
}
